.pace {
    display: none;
}
*{
    font-size:13px
}
.main-style {
    min-height: 100vh;
    background: url(../img/cover/cover-scrum-board.png) no-repeat fixed;
    background-size: 360px;
    background-position: right bottom;
}
#content{
    z-index: 1;
}
.float-btn{
    z-index: 2;
}
label{
    font-size: 20px;
}
.backgound-btn{
    background-color: #9D84BF;
 }
.cart-background{
    background-color: #5A278C;
}
